@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #4daf54;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #4daf54, #3d8880);
  font-family: "Poppins";
}

.card {
  margin: 120px auto;
  width: 320px;
  height: 400px;
  background: #272d40;
  padding: 20px;
  border-radius: 15px;
  color: white;
  position: relative;
}

.card_heart,
.card_cart {
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 10;
  cursor: pointer;
}

.card_cart {
  left: unset;
  right: 20px;
}

.card_img {
  width: 90%;
  transition: 0.5s;
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_price,
.card_title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
}

.card_title {
  color: var(--primary-color);
}

.card_size,
.card_color {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card_size span {
  padding: 1px 10px;
  color: black;
  background: #dadada;
  border-radius: 5px;
  margin: 0px 3px;
  cursor: pointer;
}

.card_color span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.card_color_black {
  background-color: black;
}
.card_color_green {
  background-color: green;
}
.card_color_red {
  background-color: red;
}

.card_action button {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 5px;
  transition: 0.25s;
  cursor: pointer;
}

.card_action button:hover {
  transform: scale(0.9);
}

.card:hover .card_img {
  transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card_title {
  transform: translate(-38px, -72px);
}
.card:hover .card_price {
  transform: translate(-117px, -72px);
}

.card_size {
  margin-top: 160px;
}

.card_size,
.card_action,
.card_color {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.4s;
}

.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action {
  opacity: 100;
  visibility: visible;
  transition: 0.5s;
}

.card:hover .card_size {
  margin-top: -30px;
}
